    body { 
        text-align: center; 
        background-color: rgb(22, 23, 23); 
        font-family: Arial, sans-serif;
        margin: 10%;
        color: deeppink;
    }

    h1 {
        font-family:  'Abril Fatface', serif;
        font-size: 46px;
    }
        
    h2 {
        font-family:  'Abril Fatface', serif;
        color: lightpink;
    }
        


    iframe {
    max-width: 100%;
    }